always-auth=true

registry=https://registry.npmjs.org/
@orchard:registry=https://packagecloud.io/orchardit/npm/npm/
@theorchard:registry=https://npm.pkg.github.com/

//packagecloud.io/orchardit/npm/npm/:_authToken=754897206bd9bcf9d4a9929d8ee900d2cdfacd89a67a8841
//npm.pkg.github.com/:_authToken=9fea4c75f13933bf4df308e5825bddd6ef856f5d
